<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>-->
	<appSettings>
		<!-- server-1 (db-production-server)-->
		<add key="DatabaseServer1" value="dev.smart-ics.com"/>
		<add key="DatabaseName1" value="HOSPITAL_BHK"/>
		<add key="UserId1" value="sa"/>
		<add key="Password1" value="b35mart1c5?"/>
		<add key="ProductionRestorePath" value="D:\database\dev"/>

		<!-- server-2 (fail-over-server)-->
		<add key="DatabaseServer2" value="JUDE7"/>
		<add key="DatabaseName2" value="dev"/>
		<add key="UserId2" value="sa"/>
		<add key="Password2" value="b35mart1c5?"/>
		<add key="FailoverRestorePath" value="D:\database\dev2"/>

		<!--server-3 (backup-location)-->
		<add key="BackupStorageLocation" value="d:\deadpool-backup"/>
		
		<!-- Full Backup Schedule: Day of Week (0=Sunday, 6=Saturday) -->
		<add key="FullBackupDay" value="0"/>
		<add key="FullBackupTime" value="01:00"/>

		<!-- Differential Backup Schedule: Time of Day -->
		<add key="DiffBackupTime" value="02:00"/>

		<!-- Transaction Log Backup Schedule: Interval in Minutes -->
		<add key="LogBackupIntervalMinutes" value="7"/>
	</appSettings>
</configuration>